<header class="header">
    <div class="logo">
        <h1><a itemprop="url" href="{{@site.url}}" title="{{@site.title}}">Brain Archives</a></h1>
        <p>by Michal Tynior</p>
    </div>
    {{navigation}}
</header> 
