<header class="header">
    <div class="logo">
        <a itemprop="url" href="{{@site.url}}" title="{{@site.title}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 266.8" class="logo-image">
                <path
                    d="M108.12,0a33.34,33.34,0,0,1,33.27,33.35V229.28a37.32,37.32,0,0,1-72.77,11.89,35.67,35.67,0,0,1-6.24.62A37.45,37.45,0,0,1,25,204.27a38.17,38.17,0,0,1,.73-7.35A41.57,41.57,0,0,1,21,122.41,41.37,41.37,0,0,1,42.47,65.66a31,31,0,0,1-.88-7.3A33.34,33.34,0,0,1,74.86,25c.41,0,.72.11,1.14.11A33.18,33.18,0,0,1,108.12,0Zm1,224.26,5.41-15.19q-10.81-4.12-11.24-23.09V167.44q0-19.32-15.88-27.21,15.89-7.89,15.88-27.12V94.48q.42-19,11.24-23.09l-5.41-15.1Q94.07,60.58,86.3,70.11t-8,25v18q0,17.42-13.91,17.42V150q13.91,0,13.91,17.34v17Q78.28,215.6,109.17,224.26Z" />
                <path
                    d="M300,158.41a41.67,41.67,0,0,1-25.68,38.51,38.17,38.17,0,0,1,.73,7.35,37.45,37.45,0,0,1-37.43,37.52,35.67,35.67,0,0,1-6.24-.62,37.32,37.32,0,0,1-72.77-11.89V33.35A33.19,33.19,0,0,1,224,25.12c.36,0,.73-.11,1.14-.11a33.34,33.34,0,0,1,33.27,33.35,33.83,33.83,0,0,1-.88,7.3,41.69,41.69,0,0,1,25.84,38.56,41.16,41.16,0,0,1-4.32,18.19A41.47,41.47,0,0,1,300,158.41ZM185.16,209.07l5.41,15.19q30.3-8.5,30.9-38.71V167.27q0-17.25,13.9-17.26V130.53q-13.91,0-13.9-17.42V95.86q-.09-15.8-7.81-25.54t-23.09-14l-5.41,15.1Q196,75.52,196.4,94.48v18.63q0,19.31,16,27.12-16,7.82-16,27.12V186Q196,204.94,185.16,209.07Z" />
            </svg>

            <h1>Brain Archives</h1>
        </a>
        <h3>by Michal Tynior</h3>
    </div>
    {{navigation}}
</header>