<header class="header">
    <div class="logo">
        <a itemprop="url" href="{{@site.url}}" title="{{@site.title}}">
            <img src="{{asset "assets/images/brain_archives_logo.png"}}" alt="Brain Archives logo" class="logo-image" />
            <h1>Brain Archives</h1>
        </a>
        <h3>by Michal Tynior</h3>
    </div>
    {{navigation}}
</header>