code,
kbd,
pre,
samp {
  font-family: $code-font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

code {
  border: $code-border;
  @include border-radius(3px);
  background-clip: padding-box;
  background-color: $code-bg;
  font-size: $code-font-size;
  color: $code-colors;
  padding: 3px;

  @include breakpoint(sm) {
    font-size: $post-figcaption-font-size * 0.75;
  }

  a > & {
    color: inherit;
  }
}

pre {
  overflow: auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0 2rem;
  @include border-radius($code-window-border-radius);
  @include box-shadow($code-window-shadow);

  > code {
    color: inherit;
    border: none;
    background-color: $code-window-code-bg;
    font-weight: $code-font-weight;
  }
}

.hljs {
  width: 100%;
}
