.pagination {
  background-color: $paging-bg;
  height: $paging-height;
  line-height: $paging-height;
  padding: $paging-padding-vertical $paging-padding-horizontal;
  margin-bottom: $paging-margin-bottom;
  font-size: $paging-font-size;
  color: $paging-color;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  box-sizing: border-box;

  @include breakpoint(sm) {
    height: $paging-height * 0.75;
    line-height: $paging-height * 0.75;
  }

  a {
    color: $paging-color;
  }

  .pager {
    font-weight: $paging-pager-font-weight;
    text-transform: $paging-pager-text-tranform;
  }

  .link {
    @extend .pager;
    @extend .text-center;

    background: $paging-link-color;
    color: $paging-color;

    &:hover {
      background: $paging-link-hover-color;
      color: $paging-color;
    }
  }

  .page-number {
    @extend .text-center;
    grid-column: 2 / span 1;
  }

  .newer-posts {
    @extend .link;
    grid-column: 1 / span 1;
  }

  .older-posts {
    @extend .link;
    grid-column: 3 / span 1;
  }
}
