.post-card {
  margin-top: $post-card-margin-top;
  margin-bottom: $post-card-margin-bottom;
  width: 100%;
  overflow: hidden;

  @include breakpoint(xs) {
    margin-top: $post-card-xs-margin-top;
    margin-bottom: $post-card-xs-margin-bottom;
  }

  @include breakpoint(sm) {
    margin-top: $post-card-sm-margin-top;
    margin-bottom: $post-card-sm-margin-bottom;
  }
}

.post-card-feature-image {
  width: 100%;
  height: auto;
  max-height: $post-feature-image-height;
  margin: 0 auto;
  @include clip-path($post-feature-image-clip);
  object-fit: cover;
}

.post-card-title {
  @extend .text-center;

  a {
    color: $post-card-title-link-color;
  }

  a:hover {
    text-decoration: $post-card-title-hover-link-decoration;
    color: $post-card-title-hover-link-color;
  }
}

.post-card-meta-separator {
  width: $post-card-meta-separator-width;
}

.post-card-meta-time {
  @extend .text-center;
  color: $post-card-meta-time-color;
  font-size: $post-card-meta-time-font-size;
  display: block;
}

.post-card-expert {
  padding: $post-card-expert-padding;
}
