.post-list {
  display: grid;
  margin: 0 auto;
  grid-gap: 10px 10px;
  grid-template-columns: 1fr 1fr minmax(1rem, 800px) 1fr 1fr;
}

.post-list > * {
  grid-column: 3 / -3;
}

.post-list:first-child {
  margin-top: 1rem;
}
