.post-tags-list {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  font-size: $tag-font-size;
  margin: 5px;
  padding: 3px 4px 3px;
  background-clip: padding-box;
  background-color: $tag-bg-color;
  color: $tag-link-color;
  border: $tag-border;
  @include border-radius(3px);

  &:hover {
    color: $tag-link-hover-color;
  }
}
