// Body
$body-bg: v(surface-background) !default;
$body-color: v(surface-onBackground) !default;

// Links
$link-color: v(primary) !default;
$link-decoration: none !default;
$link-hover-color: v(primary) !default;
$link-hover-decoration: underline !default;

// Fonts
$font-family-sans-serif: "Lato", arial, sans-serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 18px !default;
$font-size-xxl: ($font-size-base * 2) !default;
$font-size-xl: ($font-size-base * 1.5) !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: 0.75rem !default;
$font-size-xs: 0.65rem !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.4 !default;
$line-height-lg: ($line-height-base * 1.25) !default;
$line-height-sm: ($line-height-base * 0.875) !default;
$line-height-xs: ($line-height-base * 0.75) !default;

// Shadow
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !default;

// Spacing
$spacer: 1rem !default;

// Headings
$h1-font-size: 1.75rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.25rem !default;
$h4-font-size: 1.15rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 0.75rem !default;

$headings-margin-top: ($spacer * 0.9) !default;
$headings-margin-bottom: ($spacer * 0.9) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

// Paragraphs
$paragraph-margin: 0 !default;
$paragraph-line-height: 1.6 !default;
$paragraph-font-weight: $font-weight-normal !default;
$paragraph-font-style: normal !default;
$paragraph-color: $body-color !default;
$paragraph-letter-spacing: 0.01rem !default;
$paragraph-font-smoothing: antialiased !default;

// Hr
$hr-margin-y: $spacer !default;
$hr-border-color: v(tertiary-light) !default;
$hr-border-width: 1px !default;

// Lists
$list-margin-top: 0;
$list-margin-bottom: 1rem;

$list-item-line-height-base: $line-height-base * 1.2;

// Blockquote
$blockquote-bg: v(surface-background);
$blockquote-padding-vertical: 0.25rem;
$blockquote-padding-horizontal: 2rem;
$blockquote-border-color: v(primary);
$blockquote-border-width: 3px;

// Header
$header-height: 44px !default;
$header-navigation-max-width: 800px !default;
$header-font-size: 1rem !default;
$header-link-color: $link-color !default;
$header-link-decoration: none !default;
$header-hover-link-color: v(surface-onBackground) !default;
$header-hover-link-decoration: none !default;

$header-logo-width: 96px !default;
$header-logo-link-color: v(surface-onBackground) !default;
$header-logo-hover-link-color: v(primary) !default;
$header-logo-hover-link-decoration: none !default;
$header-logo-image-fill-color: v(surface-onBackground) !default;

// Navbar
$navbar-font-size: larger !default;
$navbar-font-weight: bold !default;
$navbar-link-color: v(primary) !default;
$navbar-link-decoration: none !default;
$navbar-hover-link-color: v(surface-onBackground) !default;
$navbar-hover-link-decoration: none !default;

// Footer
$footer-height: 64px !default;
$footer-margin-top: 1rem !default;
$footer-font-size: 0.8rem !default;
$footer-link-color: $link-color !default;
$footer-link-decoration: none !default;
$footer-hover-link-color: $link-hover-color !default;
$footer-hover-link-decoration: none !default;

// Post card
$postcard-bg: v(surface-background) !default;
$post-card-margin-top: 2.5rem !default;
$post-card-margin-bottom: 2.5rem !default;
$post-card-xs-margin-top: 0.5rem !default;
$post-card-xs-margin-bottom: 0.5rem !default;
$post-card-sm-margin-top: 1rem !default;
$post-card-sm-margin-bottom: 1rem !default;

$post-card-feature-image-height: 400px !default;
$post-card-feature-image-clip: polygon(0 0, 100% 0, 100% 90%, 0 100%) !default;

$post-card-title-font-size: $font-size-xxl !default;
$post-card-title-link-color: $body-color !default;
$post-card-title-hover-link-color: $link-hover-color !default;
$post-card-title-hover-link-decoration: none !default;

$post-card-meta-separator-width: 200px !default;
$post-card-meta-time-color: v(tertiary-dark) !default;
$post-card-meta-time-font-size: 1rem !default;

$post-card-expert-padding: 1rem 0 0 0 !default;

// Post
$post-feature-image-width: 100% !default;
$post-feature-image-height: $post-card-feature-image-height !default;
$post-feature-image-clip: $post-card-feature-image-clip !default;

$post-meta-separator-width: 200px !default;
$post-meta-time-color: v(tertiary-light) !default;
$post-meta-time-font-size: 1rem !default;
$post-figcaption-font-size: $font-size-sm !default;
$post-figcaption-color: v(tertiary-light) !default;
$post-blockquote-font-size: 20px !default;

// Tags
$tag-font-size: 0.9rem !default;
$tag-bg-color: v(code-bg) !default;
$tag-color: v(code-color) !default;
$tag-border: v(code-border) !default;

$tag-link-color: $link-hover-color !default;
$tag-link-hover-color: $link-color !default;

// Share
$share-height: 64px !default;
$share-link-color: v(tertiary-onTertiary) !default;
$share-link-radius: 40px !default;
$share-font-size: $share-link-radius / 2 !default;
$share-spacing: $spacer / 2 !default;

// Comments
$comments-margin-top: 2rem !default;
$comments-margin-bottom: 2rem !default;

$comments-header-margin: 0 !default;
$comments-header-font-size: 0.8rem !default;

$comments-disqus-bg: $body-bg !default;
$comments-disqus-padding: 20px !default;
$comments-disqus-margin-top: 2rem !default;
$comments-disqus-margin-bottom: 2rem !default;
$comments-max-width: 800px;

// Paging
$paging-bg: v(primary) !default;
$paging-color: v(primary-onPrimary) !default;
$paging-link-color: v(primary) !default;
$paging-link-hover-color: v(primary-dark) !default;
$paging-height: 48px !default;
$paging-margin-bottom: 1rem !default;
$paging-padding-vertical: 0 !default;
$paging-padding-horizontal: 0 !default;
$paging-font-size: 0.8rem !default;

$paging-pager-font-weight: bold;
$paging-pager-text-tranform: uppercase;

// Code
$code-bg: v(code-bg) !default;
$code-color: v(code-color) !default;
$code-border: v(code-border) !default;
$code-font-family: $font-family-monospace !default;
$code-font-size: $font-size-base * 0.8 !default;
$code-font-weight: normal !default;

// Code Window
$code-window-bg: v(tertiary) !default;
$code-window-font-family: $code-font-family !default;
$code-window-font-size: $code-font-size !default;
$code-window-spacing: 6px !default;
$code-window-border-radius: $code-window-spacing !default;
$code-window-padding: $code-window-spacing !default;
$code-window-shadow: $shadow !default;

$code-window-title-font: $font-family-monospace !default;
$code-window-title-font-size: 0.75rem !default;
$code-window-title-color: v(tertiary-onTertiary) !default;

$code-window-code-bg: $code-window-bg;
$code-window-code-font-size: $code-font-size !default;
$code-window-code-font-family: $code-font-family !default;
$code-window-code-font-weight: $code-font-weight !default;

// Cookie notice
$cookie-notice-background-color: v(secondary-light) !default;
$cookie-notice-color: v(secondary-onSecondary) !default;
$cookie-notice-button-color: v(secondary) !default;
$cookie-notice-button--hover-color: v(secondary-dark) !default;
